In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [4]:
penguins['species'] = penguins['species'].fillna(penguins['species'].mode()[0])
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mode()[0])
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mode()[0])
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mode()[0])
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])
penguins['species'] = penguins['species'].fillna(penguins['species'].mode()[0])
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mode()[0])

In [5]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1> insight 1 </h1>

In [6]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [7]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,41.1,17.0,190.0,3800.0,male,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1> Does 'Adele' exclusively live on Island </h1>

In [8]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [9]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [10]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [11]:
penguins['island'] == 'Torgersen'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [12]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

<h1> insight no.2 </h1>

In [13]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
dtype: int64

In [14]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
dtype: int64

In [15]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [16]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [17]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

In [18]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [19]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [20]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [21]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
dtype: int64

<h1> Insight NO.3 </h1>

<h2>  no </h2>

<h1> Does the island affects the weight or body mass of a penguin specie </h1>

In [22]:
penguins['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3      3800.0
4      3450.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 344, dtype: float64

In [23]:
penguins['kilo'] = np.round(penguins['body_mass_g'] / 1000, 2)
penguins['kilo']

0      3.75
1      3.80
2      3.25
3      3.80
4      3.45
       ...
339    4.00
340    3.40
341    3.78
342    4.10
343    3.78
Name: kilo, Length: 344, dtype: float64

<h1> insight 4. The average kilo Adelie regardless of Island is 3.7 </h1>

In [24]:
adelie_torg = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')]
adelie_torg['kilo'].mean()
np.round(adelie_torg['kilo'].mean(), 1)

np.float64(3.7)

In [25]:
adelie_dream = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]
adelie_dream['kilo'].mean()
np.round(adelie_dream['kilo'].mean(), 1)

np.float64(3.7)

In [26]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]
adelie_biscoe['kilo'].mean()
np.round(adelie_biscoe['kilo'].mean(), 1)

np.float64(3.7)

<h1> insight 5 </h1>

In [27]:
chin_torg = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')]
chin_torg['kilo'].mean()
np.round(chin_torg['kilo'].mean(), 1)

np.float64(nan)

In [28]:
chin_dream = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]
chin_dream['kilo'].mean()
np.round(chin_dream['kilo'].mean(), 1)

np.float64(3.7)

In [29]:
chin_biscoe = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]
chin_biscoe['kilo'].mean()
np.round(chin_biscoe['kilo'].mean(), 1)

np.float64(nan)

<h1> insight 6 </h1>

In [30]:
gen_torg = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')]
gen_torg['kilo'].mean()
np.round(gen_torg['kilo'].mean(), 1)

np.float64(nan)

In [31]:
gen_dream = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]
gen_dream['kilo'].mean()
np.round(gen_dream['kilo'].mean(), 1)

np.float64(nan)

In [32]:
gen_biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]
gen_biscoe['kilo'].mean()
np.round(gen_biscoe['kilo'].mean(), 1)

np.float64(5.1)

<h1> insight 7. Gentoo has the highest average kilo </h1>

<h1> insight 8. Year 2007 has the most recorded data for male in Adelie </h1>

In [33]:
p_agg = penguins.groupby(['species', 'sex', 'year']).size()
p_agg.unstack()

year              2007  2008  2009
species   sex
Adelie    female    22    25    26
          male      28    25    26
Chinstrap female    13     9    12
          male      13     9    12
Gentoo    female    16    22    20
          male      18    24    24

<h1> Question No.9 </h1>

<h3> Which is heavier between penguins species in terms of sex. </h3>

In [34]:
#species
#weight
#sex

weight_sex = np.round(penguins.groupby(['species', 'sex'])['kilo'].mean() , 1)
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: kilo, dtype: float64

In [35]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h3> male penguin is heavier in terms of sex. </h3>

<h1> INSIGHT NO.10 </h1>
<h3> What year has the highest recorded weight for male and female </h3>

In [36]:
weight_sex = np.round(penguins.groupby(['species', 'sex', 'year'])['kilo'].mean() , 1)
weight_sex.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     3.9   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.4

<h3> 2008 has the highest recorded weight for female while 2007 has the highest weight recorded for male. </h3>

<h1> Correlation vs Causation </h1>
<h2> Correlation between Bill Length and Bill Depth </h2>
<h1> P VALUE in Statistics </h1>
<h2>  </h2>

In [37]:
corr_ld = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])
corr_ld

np.float64(-0.23463545677388215)

<h3> There is no Correlation between Bill Depth and Bill Length </h3>

<h1> INSIGHT No.12 </h1>
<h2> Correlation between Flipper length and Bill Depth </h2>

In [38]:
corr_fb = penguins['flipper_length_mm'].corr(penguins['bill_depth_mm'])
corr_fb

np.float64(-0.5824724275889581)

<h3> There is Correlation between Flipper length and Bill Depth </h3>

<h1> INSIGHT No.13 </h1>
<h2> Correlation between Flipper length and Body Mass </h2>

In [39]:
corr_fb = penguins['flipper_length_mm'].corr(penguins['kilo'])
corr_fb

np.float64(0.8712959378420688)

<h3> There is Correlation between Flipper length and Body Mass  </h3>

<h1> INSIGHT No.14 </h1>
<h2> Correlation between Bill Length and Body Mass </h2>

In [40]:
corr_bb = penguins['bill_length_mm'].corr(penguins['kilo'])
corr_bb

np.float64(0.5957344470044195)

<h3> There is Correlation between Bill Length and Body Mass </h3>

<h1> Correlation Analysis between Qualitative and Quantitative Data </h1>

<h3> Use One Way of Anova </h3>

<h1> Science Python Library  </h1>

In [41]:
from scipy.stats import f_oneway

In [43]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.0
3      3800.0
5      3650.0
7      4675.0
8      3475.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 179, dtype: float64

<h1> Testing the Correlation between Sex and Body mass </h1>

In [46]:
f_stats , p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'],
                            penguins[penguins['sex'] == 'female']['body_mass_g'])
p_value

np.float64(5.108550074150804e-15)

<h2> Insight No.15 </h2>

<h3> There is Strong Correlation between Sex and Body Mass </h3>

<h1> Testing the Correlation between Sex and Flipper Length </h1>

In [48]:
f_stats , p_value = f_oneway(penguins[penguins['sex'] == 'male']['flipper_length_mm'],
                            penguins[penguins['sex'] == 'female']['flipper_length_mm'])
p_value

np.float64(7.5478102097708e-06)

<h2> Insight No.16 </h2>

<h3> There is Strong Correlation between Sex and Body Mass </h3>